body {
  background-image: url("../img/bg.png"); }

p {
  font-family: "Merienda", cursive;
  font-size: 1.05rem; }

.teaser img {
  height: auto;
  max-height: 23rem;
  width: auto;
  margin-bottom: 2rem; }
.teaser h3 {
  font-family: serif;
  font-size: 2.4rem;
  margin-bottom: 1rem; }

body h1:first-of-type {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.nels-logo-div {
  margin-bottom: 4rem; }
  .nels-logo-div h1 {
    font-size: 4rem; }

.header {
  margin-top: 1.5rem; }

.narrow-font {
  font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif; }

.title-area .name a {
  font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; }

.margin-btm {
  margin-bottom: 2.5rem; }

img {
  border-radius: 1%;
  box-shadow: 4px 4px 6px #7C7C7C; }

.google-map-embed {
  margin-top: 2rem;
  border: 1px solid #aaa;
  height: 452px; }

.contain-to-grid {
  box-shadow: 2px 2px 3px #7C7C7C; }

ul.dropdown li {
  box-shadow: 2px 2px 3px #7C7C7C; }

.no-shadow {
  box-shadow: none; }

.text-italic {
  font-style: italic; }

.icon {
  width: 2rem;
  box-shadow: none; }

table {
  margin-left: auto;
  margin-right: auto;
  background: #F4EDE1; }

img.newsletter-img {
  max-width: 5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem; }

.newsletter img {
  box-shadow: none; }
.newsletter .row {
  margin-bottom: 2em; }

hr {
  border-color: #342B26; }

div.menu-item {
  margin-bottom: 1rem;
  height: 35rem; }
  div.menu-item div.menu-item-content {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1px 2px #aaa;
    border-radius: 4px;
    background: whitesmoke; }
  div.menu-item div.menu-item-header {
    padding: 0 0.5rem;
    background: white;
    height: 4.3rem; }
  div.menu-item img {
    box-shadow: none; }
  div.menu-item img.main-img {
    margin-bottom: 1rem;
    width: 100%; }
  div.menu-item img.other-img {
    max-height: 3.5rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem; }
  div.menu-item .fix-height img {
    max-height: none; }
  div.menu-item .details {
    padding-left: 1rem;
    padding-right: 1rem; }
    div.menu-item .details img.description {
      display: inline; }
    div.menu-item .details p {
      display: inline;
      font-size: 0.80rem;
      margin-bottom: 0; }
  div.menu-item .photos-ul {
    margin-top: 0.3rem;
    margin-left: 0.6rem; }
  div.menu-item .price {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    div.menu-item .price p {
      font-size: 0.80rem;
      margin-bottom: 0; }
  div.menu-item div.columns {
    padding-left: 0;
    padding-right: 0; }
  div.menu-item h3 {
    text-align: center; }
  div.menu-item hr {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }

.max-width-none {
  max-width: none; }

@media screen and (max-width: 64rem) {
  .center-img-small {
    text-align: center; }

  .header {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0; } }
.parent-link {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
